<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hh.recipe.mapper.CategoryMapper">
    <!-- 批量添加分类-->
    <insert id="insertCategoryBatch">
        insert into category(category_name,recipe_id) values
        <foreach collection="categorys" item="category" separator=",">
            (#{category.categoryName},#{category.recipeId})
        </foreach>
    </insert>
</mapper>