<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hh.recipe.mapper.CookingStepMapper">
    <!-- 创建步骤-->
    <insert id="insertCookingStepBatch">
        insert into cooking_step(recipe_id,step_order,step_description,step_image_url)
        values
        <foreach collection="cookingSteps" item="cookingStep" separator=",">
            (#{cookingStep.recipeId},#{cookingStep.stepOrder},#{cookingStep.stepDescription},#{cookingStep.stepImageUrl})
        </foreach>
    </insert>
    <select id="selectCookingStepByRecipeId" resultType="com.hh.recipe.domain.vo.CookingStepVo">
        SELECT cooking_step.step_order,
               cooking_step.step_description,
               cooking_step.step_image_url
        FROM cooking_step
        WHERE cooking_step.recipe_id = #{recipe_id};
    </select>
</mapper>