<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hh.recipe.mapper.UserMapper">
    <insert id="likeRecipe">
        insert into recipe_likes(recipe_id, user_id)
        VALUES (#{recipeId}, #{userId});
    </insert>
    <insert id="favoritesRecipe">
        insert into recipe_favorites(recipe_id, user_id)
        VALUES (#{recipeId}, #{userId});
    </insert>

    <select id="findAllfans" resultType="com.hh.recipe.domain.vo.UserVo">
        SELECT u.user_id, u.user_avatar, u.user_name
        FROM User u
                 JOIN User_Follows uf
                      ON u.user_id = uf.follower_id
        WHERE uf.followee_id = #{userId};
    </select>
    <select id="findAllFollower" resultType="com.hh.recipe.domain.vo.UserVo">
        SELECT u.user_id, u.user_avatar, u.user_name AS followed_user_name
        FROM User u
                 JOIN User_Follows uf ON u.user_id = uf.followee_id
        WHERE uf.follower_id = #{userId};
    </select>
</mapper>